<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8"/>
    <title>Homepage</title>
    <base href="http://localhost/annuaire_films/"/>
    </head>
    <body>
        <header>
            <h1>HomePage</h1>
        </header>
        <ul>
            {% for film in films %} <!--Boucle-->
                <li><a href="film/{{ film.slug }}">{{ film.fil_titre }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>