{% extends "/Layout/layout.html.twig" %}
{% block title %}
{{ parent() }} - Home
{% endblock %}
{% block content %}
<div class="container">
    <div class="section">
        <div class="row">
            {% for film in films %}<!--Boucle-->
            <div class="card-image small responsive-img">
                <a href="film/{{ film.slug }}">
                    <img class="col s12 m4 w40 h400p mt50" src="{{ film.fil_image }}" alt="{{ film.fil_titre }}">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}