<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Cinelike {% endblock %}</title>
</head>
<body>
    {% include '/Layout/header.html.twig' %}
    {% block content %}

    {% endblock %}
    {% include '/Layout/footer.html.twig' %}
</body>
</html>